
/*-- scss:rules --*/

.nav-footer {
    border-top: 4px solid #009edb !important; 
}

.navbar {
    border-bottom: 4px solid #009edb !important; 
    font-family: sans-serif;
    background-color: white;
}

.nav-link{
    color: black ;
}

.nav-link.active {
    color: #009edb !important;
}

.nav-link:hover {
    color: #009edb !important;
}
